<h1>Hello from the Teams index</h1>

<ol>
<% @teams.each do |team| %>
  <img src=<%= team.image_url %> height="50px">
  <li><%= team.name %> <%= team.record %></li>
  <p>"<%= team.slogan %>"</p><br>
  <% team.players.each do |player| %>
    <p>[ <%= player.position %> ] - <%= player.name %></p>
  <% end %>
<% end %>
</ol>
