<table class="table table-striped fs-4">
  <thead>
   <tr>
      <th scope="col">Team</th>
      <th scope="col">Record</th>
      <th scope="col">Players</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td>
        <img style="height: 4rem;" src=<%= team.image_url %>>
        <strong class=<%= "text-primary" if team == current_user.team %>><%= team.name %></strong>
        <p class= "fs-5">"<%= team.slogan %>"</p>
      </td>
      <td><%= team.record %></td>
      <% team.players.each do |player| %>
        <td>[ <%= player.position %> ] - <%= player.name %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
