<% unless user_signed_in? %>
  <h1>Welcome coach!</h1>
<% else %>
  <h1>MyTEAM</h1>
  <% if current_user.team.blank? %>
    <p>Welcome to Hoop Heroes! Build your 2v2 squad so you can log their games and keep track of your players' stats...</p>
    <br>
    <%= button_to "New Team +", new_team_path, method: :get %>
  <% else %>
    <%= button_to "Record New Game", new_game_path, method: :get %>
    <%= current_user.team.name %>
    <br>
    <ul>
    <% current_user.team.players.each do |player| %>
      <li>[ <%= player.position %> ] <%= player.name %></li>
    <% end %>
    </ul>
    <div class="d-flex flex-wrap justify-content-around">
    <% Game.where(home_team_id: current_user.team.id).or(Game.where(away_team_id: current_user.team.id)).each do |game| %>
      <div class="card fs-3 d-flex align-items-center shadow p-3 mb-5 bg-body rounded" style="width: 25rem;">
          <div class="card-body">
            <p class="card-title badge bg-dark"><%= game.home_team.name %> <span class="badge bg-primary fs-6">VS.</span> <%= game.away_team.name %> 
            <% if game.winner == current_user.team %>
              <span class="badge bg-success fs-5">W</span>
            <% else %>
              <span class="badge bg-danger fs-5">L</span>
            <% end %>
            </p>
            <ul class="list-group list-group-flush">
            <% game.performances.each do |per| %>
              <li class="list-group-item"><strong class=<%= "text-primary" if per.player.team == current_user.team %>><%= per.player.name %></strong> - ( <%= per.points %> / <%= per.assists %> / <%= per.rebounds %> )</li>
            <% end %>
            </ul>
          </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>