<ul>
<% @games.each do |game| %>
  <li><%= game.home_team.name %> ( <%= game.score(game.home_team) %> ) vs. ( <%= game.score(game.away_team) %> ) <%= game.away_team.name  %></li>
  <p>Player of the Game: <%= game.best_performance.player.name %> ( <%= game.best_performance.points %> points )</p><br>
<% end %>
</ul>