<h1>New Game</h1>

<%= form_for @game do |f| %>
  <%= f.hidden_field :home_team_id, value: current_user.team.id %>
  <label>Home Team: <%= current_user.team.name %></label><br>
 
  <label>Away Team:</label>
  <%= f.collection_select :away_team_id, Team.where.not(id: current_user.team.id), :id, :name %><br>
  <br>

  <%= f.submit "Start" %>
<% end %>